*{margin: 0; padding: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;}
/*-----Header-----*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background: linear-gradient(to right, #2ecc71, #1c9cb1);
  color: white;
}
/*-----Logo-----*/
.logo-img {
  width: 60px; 
  height: auto;
  border-radius: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.logo-img:hover {
  transform: scale(1.2); 
  box-shadow: 0 0 10px rgba(22, 244, 255, 1); 
  transition: 0.4s;
}
.logo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: all 0.4s;
}
/*-----Nav-----*/
.user-conteiner{
  background-color: white;
  padding: 10px 10px;
  border-radius: 100%;
  transition: all 0.3s;
  justify-content: space-between;
}
.welcome-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.user-conteiner:hover{
  transform: scale(1.2); /*No eliminar esta línea de código*/
  box-shadow: 0 0 10px rgba(22, 244, 255, 1);
  cursor: pointer;
}
.user-conteiner i{
  color: #202028;
}
/*-----Boton volver-----*/
.btn-volver {
  position: absolute;
  top: 90px; /*FIX TO DO*/
  left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  color: #2ecc71;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid transparent; 
  border-radius: 25px;
  transition: border-color 0.3s; 
  cursor: pointer;
}
.btn-volver:hover {
  border-color: #2ecc71;
}