body {
  background-color: #f0f2f5;
  display: block;
}
#BG{
  display: flex;
  justify-content: center;
}
*{margin: 0; padding: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;}
/*-----Header-----*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background: linear-gradient(to right, #2ecc71, #1c9cb1);
  color: white;
}
/*-----Logo-----*/
.logo-img {
  width: 60px; 
  height: auto;
  border-radius: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.logo-img:hover {
  transform: scale(1.2); 
  box-shadow: 0 0 10px rgba(22, 244, 255, 1); 
  transition: 0.4s;
}
.logo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: all 0.4s;
}
/*-----Nav-----*/
.user-conteiner{
  background-color: white;
  padding: 10px 10px;
  border-radius: 100%;
  transition: all 0.3s;
  justify-content: space-between;
}
.welcome-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.user-conteiner:hover{
  transform: scale(1.2); /*No eliminar esta línea de código*/
  box-shadow: 0 0 10px rgba(22, 244, 255, 1);
  cursor: pointer;
}
.user-conteiner i{
  color: #202028;
}
/*-----Boton volver-----*/
.btn-volver {
  position: absolute;
  top: 90px; /*FIX TO DO*/
  left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  color: #2ecc71;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid transparent; 
  border-radius: 25px;
  transition: border-color 0.3s; 
  cursor: pointer;
}
.btn-volver:hover {
  border-color: #2ecc71;
}
/*-----a-----*/
.container {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px;
  text-align: center;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to right, #2ecc71, #1c9cb1);
  color: white;
  padding: 20px;
  margin: -40px -40px 20px -40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#registroForm input {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
#registroForm input {
  width: 100%;
  padding: 7px;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
  outline: none;
}
.registroForm input::placeholder{
  color: rgb(179, 179, 179);
}
.instruccion {
  margin-bottom: 20px;
  font-style: italic;
  color: #555;
}
.botonRegistrar {
  background-color: #2ecc71;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /*transition: background-color 0.3s ease;*/
  transition: all 0.3s;
}
.botonRegistrar:hover {
  background-color: rgb(81, 255, 121);
  transform: scale(1.1);
}
.full-width {
  grid-column: 1 / -1; /* hace que el div ocupe todo el ancho de la grid */
  text-align: center; 
}
#mensaje { 
  margin-top: 1em; 
  text-align: center; 
  font-weight: bold; 
}
#registroForm input:focus {
  transition: all 0.3s;
  border-color: #2eff87;
  box-shadow: 0 2px 0 2px #2ecc71;
}
/*-----Options div----*/
.option {
  display: flex;
  flex-direction: row;
  justify-content: start; 
  align-items: center; 
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 8vh;
  /*background-color: red;*/ /* -> para visualizar el contenedor .option*/
}
.option h3 {
  font-size: 1.2em;
  color: #202028;
}
/*-----Slider-----*/
.slider{
  width: 25%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  background-color: #202028;
  width: 100px; 
  height: 50px; 
  border-radius: 200px; 
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.button::before{
  position: absolute;
  content: '';
  background-color: white;
  width: 40px;
  height: 40px; 
  border-radius: 200px;
  margin: 5px; 
  transition: 0.2s;
  transform: translateX(-50px); 
}
input:checked + .button{
  background-color: #2eff87;
}
input:checked + .button::before{
  transform: translateX(0px); 
}
input{
  display: none;
}
/* Estilo para el enlace de cerrar sesión */
.logout-link {
  font-size: 1.2em;
  color: tomato;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  text-align: start;
}

.logout-link:hover {
  background-color: tomato;
  color: white;
}
#fuente{
  font-size: 1em;
  color: gray;
  margin-left: 20px;
  padding: 10px 10px;
  border: #2ecc71 solid 2px;
  border-radius: 5px;
  transition: all 0.3s;
}
#fuente:focus{
  border:#2eff87 solid 2px;
}